.alerta, .sucesso {
    background-color:rgb(250, 208, 212);
    color:rgb(155, 40, 51);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(250, 191, 197);
    border-radius: 5px;
}

.sucesso{
    background-color:rgb(148, 230, 147);
    color:rgb(1, 41, 0);
}