* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body {
    margin-top: 140px;
    background: #1e86c8
  }

  html{
    scroll-behavior: smooth;
  }
  
  .container-do-formulario{
    min-height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  
  .caixa-formulario{
    max-width: 600px;
    width: 100%;
    height: 600px;
    background-color: #00558b;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: #fbfbf8;
    font-family: HK Grotesk, sans-serif;
  }
  
  .caixa-formulario h1, .caixa-formulario h4{
    text-align: center;
      line-height: 45px;
  }
  
 .formulario {
  font-family: HK Grotesk, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.formulario label {
  width: 65%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fbfbf8;
}


#submit {
  background-color: #1e86c8;
  color: #fbfbf8;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  width: 20%; 
}
.formulario input::placeholder,
.formulario select::placeholder {
  color: #00558b;
  font-family: HK Grotesk, sans-serif;
}

.formulario input,
.formulario select {
  background-color: #fbfbf8;
  color: #00558b;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  width: 50%; 
  margin-bottom: 15px;
  text-align: center;
}





.alerta, .sucesso {
    background-color:rgb(250, 208, 212);
    color:rgb(155, 40, 51);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(250, 191, 197);
    border-radius: 5px;
}

.sucesso{
    background-color:rgb(148, 230, 147);
    color:rgb(1, 41, 0);
}
