* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  padding-top: 140px; 
  background-color: #fbfbf8;
}
html{
    scroll-behavior: smooth;
}

/* FONTES */

@font-face {
  font-family: 'Intro-rust';
  src: url('../fonts/IntroRust-Base.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*  HEADER  */
.site-header {
    background-color: #fbfbf8;
    padding: 20px 0;
    color: #1e86c8;
    border-radius: 15px;
    margin-right: 70px;
    margin-left: 70px;
    position: fixed;
    top: 20px; 
    left: 70px; 
    right: 70px;
    z-index: 1000; 
}
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    font-family: 'Intro-rust', sans-serif;

  }
  .nav a {
    color: #1e86c8;
    text-decoration: none;
    font-size: 20px;
  }

  .nav a:hover{
    color:#00558b;
  }

  #header-a{
    color:#00558b; 
    position: relative; 
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  #header-a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: #00558b;
    transition: width 0.3s ease;
}

  #header-a:hover{
    color:#1e86c8;
  }

  #header-a:hover::after {
    width: 100%;
}

  .logo-nome {
    display: flex;
    align-items: center;
    gap: 15px; 
  }
  
  .logo {
    height: 100px;
  }
  
  .nome {
    margin: 10px;
    font-size: 15px;
    font-family: 'Intro-rust', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    color:#00558b; 
   }

  /* AGENDA */

  #agenda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
  }
  
  .textoebotao {
    padding-left: 10%;
    padding-top: 10%; 
}

.textoebotao h2 {
    font-size: 2.5rem; 
    color: #fbfbf8;
    margin-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textoebotao p {
    font-size: 1.5rem; 
    color:#fbfbf8;
    margin-bottom: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.textobotao {
    display: inline-block;
    background-color: #00558b;
    color: #fbfbf8;
    padding: 1rem 2rem; /* botão maior */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem; /* fonte maior */
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textobotao:hover{
  background-color:#fbfbf8;
  color:#00558b;
}


/* TEXTO ANTES DO ACCORDION*/

.informacoes {
  max-width: 1200px;
  margin: auto;
  padding-top: 10%;
}

.informações-container {
  color: #9b9b9b;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.informações-titulo{
  font-family: 'Intro-rust', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.informações-subtitulo{
  font-size: 20px;
  font-family: HK Grotesk, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

/* HR (LINHA) */
hr {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 120px;
  border: 1px solid #1e86c8;    
}

/* ACORDION*/

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.accordion {
  width: 260px;
  position: relative;
  background-color: #1e86c8;
  border-radius: 20px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 5px;
}

/* ACCORDIONS HEADER */
.accordion-header {
  width: 100%;
  border: none;
  background-color: #1e86c8;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #fbfbf8;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
}

.accordion-header span {
  text-align: left;
  font-family: HK Grotesk, sans-serif;
}

.arrow {
  transition: transform 0.2s linear;
  color: #fbfbf8;
  margin-left: 10px;
}

/* ACCORDION CORPO (EXTERNO) */
.accordion-body {
  display: none;
  color: #fbfbf8;
  font-size: 18px;
  background-color: #1e86c8;
  padding: 13px;
  border-radius: 0 0 20px 20px;
  position: absolute;
  width: 100%;
}

.accordion-body.active {
  display: block;
  position: relative; 
}

/* CARROSSEL */

.carousel {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-top: 150px;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display: none;
  object-fit: cover;
}

.slide.ativo {
  display: block;
}

/* Indicadores */
.indicators {
  position: absolute;
  bottom: 40%;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center; 
  z-index: 2;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #083a59;
}


/*nossa historia*/

.historia{
  margin-top: 200px;
  height: fit-content; 
  width: 100%;
  overflow: hidden;  
  background: linear-gradient(to bottom, transparent, #73a6dd, transparent);
}

#nossahistoria{
  font-family: 'Intro-rust', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #00558b;
  font-size: 40px;
} 
#missaoevalores{
  font-family: 'Intro-rust', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #00558b;
  font-size: 40px;
} 

.bloco-esquerda, .bloco-direita {
  position: relative; 
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.imagem {
  width: 102%;
  height: 90%;
  object-fit: cover; 
  display: block;
}

.fundotexto {
  position: absolute; 
  transform: translateY(-50%);
  background-color: #00558b; 
  color: #fbfbf8;
  padding: 20px 20px;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  max-width: 40%;
}

/* Texto na esquerda ou direita */
.fundotexto1 {
  top: 50%;
  left: 50%; 
}

.fundotexto2 {
  top: 45%;
  right: 50%; 
}

/* MODAL */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 251, 248, 0.788);
  z-index: 999; 
  display: none;
}

dialog {
  width: 20%;
  max-width: 600px;
  background-color: #00558b;
  border-radius: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; 
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#modal-1{
  background-color: #00558b;
  border: none;
  border-radius: 20px;
  padding: 10px ;
}

#close{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 95%;
  text-decoration: none;
  overflow: hidden;
} 

.modal-header{
  font-family: HK Grotesk, sans-serif;
  text-align: center;
  color: #fbfbf8;
}
.modal-title{
  font-size: 25px;
}
.modal-subtitle{
  line-height: 30px;
  font-size: 10px;
}
.modal-body{
  text-align: center;
  line-height: 45px;
  font-family: HK Grotesk, sans-serif;
  
}

#nome, #telefone, #email{
  background-color: #fbfbf8;
  color: black;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  display: block; 
  margin-bottom: 10px;
  width: 65%;
  text-align: center;
  margin-left: 15%;
}
#enviar{
  background-color: #1e86c8;
  color: #fbfbf8;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}

#nome::placeholder, #email::placeholder, #telefone::placeholder {
  color: #00558b;
  font-family: HK Grotesk, sans-serif;
}

/* footer*/

.footer-superior{
  background-color: #00558b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: fit-content; 
} 
.texto-footer-superior{
  color: #fbfbf8;
  font-weight: bolder;
  font-family: HK Grotesk, sans-serif;
  padding-top: 15px;
  font-size: 13px;
  padding-bottom: 8px;
  padding-left: 30px;
}
.fa-solid{
  padding-left: 10px;
}
.fa-brands{
  padding-bottom:10px;
  padding-left: 10px;
}

.footer-inferior {
  background-color: #083a59;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'HK Grotesk', sans-serif;
  display: flex;
  justify-content: center;     
  align-items: center;         
  gap: 50px;                   
  padding: 40px 20px;          
  color: #fbfbf8;
  flex-wrap: wrap;             
  text-align: center;         
}

.logo-footer{
 width: 100px;
 padding-bottom: 20px;
}

.footer-coluna1, .footer-coluna2, .footer-coluna4 {

  display: flex;
  flex-direction: column;
  text-align: left; 
  flex: 1;
  max-width: 15%;
}

.footer-coluna2{
  /* margin-right: 20%; */
  margin-left: 5%;
  font-size: 14px;
  padding-top: 7%;
}

.footer-inferior h3 {
  text-align: left;
  font-size: 11px;
  margin-bottom: 7px;
}

.footer-inferior h6 {
  text-align: left;
  font-size: 12px;
  font-weight: normal; 
  margin: 5px 0;
}

#mapadosite {
 font-size: 15px;
}

.mapa-site li {
  list-style: none;
  margin-bottom: 10px; 
}

.mapa-site a {
  position: relative;
  color:#fbfbf8;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 1px; 
}

.mapa-site a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 1px; /* Sub-linhado mais fino */
  background-color: #1e86c8;
  transition: transform 0.3s ease;
}

.mapa-site a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.mapas{
  display: flex;
  padding-top: 6%;
}

.mapa1{
color: #1e86c8;
margin-right: 100px;
}

#txt-mapa1{
  text-align: center;
  font-size: 20px;
}

.mapa2{
color: #1e86c8;
}

#txt-mapa2{
  text-align: center;
  font-size: 20px;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}
::-webkit-scrollbar-track {
  background: #083a59; 
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
  background: #083a59; 
  border-radius: 10px;
  border: 2px solid #9b9b9b; 
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing; 
}
::-webkit-scrollbar-thumb:hover {
  background: #083a59; 
}


/* RESPONSIVIDADE */
