/* FONTES */

@font-face {
    font-family: 'Intro-rust';
    src: url('../fonts/IntroRust-Base.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

/* CONTEÚDO */

body {
    font-family: Arial, sans-serif;
    background: #a9cff7;
    margin: 0;
  }
  
.politica {
    max-width: 900px;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    line-height: 1.5;
  }

.titulo-politica {
    font-family: 'Intro-rust', sans-serif;
    font-size: 2.5rem;
    color: #003366;
    padding-top: 25px;
  }

.subtitulo-politica {
    font-family: 'Intro-rust', sans-serif;
    color: #003366;
    font-size: 1.8rem;
    padding-top: 20px;
}

.politica p{
    font-size: 1.3rem;
}

.politica ul li{
    font-size: 1.3rem;
    list-style: none;
}

a {
    color: inherit;         
    text-decoration: none; 
  } 

ul.mapa-site li {
  padding-left: 0 !important;
  margin-left: 0 !important;
}