{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
  <link rel="stylesheet" href="{% static 'css/cabecalho.css' %}" />
  <link rel="stylesheet" href="{% static 'css/rodape.css' %}" />
</head>
<body id="inicio">

<!-- HEADER, IMAGEM DE HEADER E BOTAO PARA AGENDA -->

    <header class="site-header" id="inicio">
        <div class="container">
          <div class="logo-nome">
            <img class="logo" src="{% static 'imagens/logoheader.png' %}" alt="Logo">
            <h1 class="nome">FEDERAÇÃO <br> FLUMINENSE <br> DE CAPOEIRA</h1>
          </div>
          <nav class="nav">
            <ul>
                <li><a id="header" href="#inicio">Início</a></li>
                <li><a id="header" href="#nossahistoria">Nossa História</a></li>
                <li><a id="header" href="#missaoevalores">Missão</a></li>
                <li><a id="header" href="{% url 'admin:login' %}">Administrativo</a></li>
                <li><a id="header-a" href="{% url 'voluntario' %}">Voluntarie-se</a></li>
            </ul>
          </nav>
        </div>
      </header>

    <div class="agenda">
        <img src="{% static 'Imagens/fundoeventos.png' %}" id="agenda">
        <div class="textoebotao">
            <h2>Nossos eventos!</h2>
            <p>Saiba mais sobre nossos eventos!</p>
            <a href="{% url 'eventos' %}" class="textobotao">clique aqui!</a>
        </div>
    </div>
    

<!-- TEXTO ANTES DO ACCORDION -->

<article class="informacoes">
    <div class="informações-container">
        <h1 class="informações-titulo">Como transformamos vidas</h1>
        <hr>
        <h2 class="informações-subtitulo">TRANSFORMAMOS VIDAS ATRAVÉS DA CAPOEIRA, PROFISSIONALIZAMOS CAPOEIRISTAS, APRESENTAMOS O ESPORTE E O INTRODUZIMOS NA EDUCAÇÃO</h2>
    </div>

<!-- ACCORDION -->

<div id="container">
    <div class="accordion">
        <button class="accordion-header">
            <span>APOIO PROFISSIONAL</span>
            <i class="fa-solid fa-chevron-down arrow"></i>
        </button>
        <div class="accordion-body">
            Promovemos um futuro diferente para crianças e jovens
        </div>
    </div>

    <div class="accordion">
        <button class="accordion-header">
            <span>EDUCAÇÃO</span>
            <i class="fa-solid fa-chevron-down arrow"></i>
        </button>
        <div class="accordion-body">
            Promovemos o conhecimento e a cultura, incentivando o aprendizado
        </div>
    </div>

    <div class="accordion">
        <button class="accordion-header">
            <span>INCLUSÃO SOCIAL</span>
            <i class="fa-solid fa-chevron-down arrow"></i>
        </button>
        <div class="accordion-body">
            Promovemos oportunidades para jovens através da cultura e do esporte
        </div>
    </div>

    <div class="accordion">
        <button class="accordion-header">
            <span>SAÚDE E BEM-ESTAR</span>
            <i class="fa-solid fa-chevron-down arrow"></i>
        </button>
        <div class="accordion-body">
            Incentivamos práticas saudáveis para o desenvolvimento físico e mental
        </div>
    </div>
</div>
</article>

<div class="carousel">
  <div class="slides">
    <img src="{% static 'imagens/CAPOEIRA-POSTAGENS1.JPG' %}" class="slide ativo" alt="Slide 1">
    <img src="{% static 'Imagens/CAPOEIRACARROSSELIMG.webp' %}" class="slide" alt="Slide 2">
    <img src="{% static 'imagens/capoeira-carrossel.webp' %}" class="slide" alt="Slide 3">
  </div>
  <div class="indicators">
    <span class="indicator active"></span>
    <span class="indicator"></span>
    <span class="indicator"></span>
  </div>
</div>

<div class="historia">

    <h1 id="nossahistoria">NOSSA HISTÓRIA</h1>

    <div class="bloco-esquerda">
        <img src="{% static 'Imagens/capoeiraesquerda.svg' %}"  class="imagem">
        <div class="fundotexto fundotexto1">
          <h3>A Federação Fluminense de Capoeira (FFC) foi fundada em 29 de maio de 1999, na cidade de São Gonçalo, Rio de Janeiro, 
            pelo renomado Mestre e Doutor Carmelindo, com o objetivo de preservar, promover e expandir a prática da capoeira no 
            estado do Rio de Janeiro e em todo o Brasil. Desde sua fundação, a FFC se tornou um referencial na difusão da cultura 
            afro-brasileira, proporcionando oportunidades para atletas, mestres e entusiastas da capoeira de todas as idades.
            Desde sua criação, a federação desenvolve projetos sociais voltados para jovens em situação de vulnerabilidade,
            utilizando a capoeira como ferramenta de inclusão social e desenvolvimento pessoal. A FFC se empenha em salvar jovens 
            do descaso governamental, oferecendo-lhes oportunidades para um futuro mais promissor.
            Além dos projetos sociais, a FFC realiza regularmente oficinas, seminários, rodas de capoeira e festivais que 
            reúnem praticantes de diferentes regiões do país e do exterior. Esses eventos promovem a troca de saberes, fortalecem 
            os laços da comunidade capoeirista e incentivam o reconhecimento da capoeira como patrimônio cultural imaterial da humanidade.
            Ao longo dos anos, a FFC tem formado diversas gerações de capoeiristas, garantindo que a arte continue viva e 
            evoluindo. O legado do Doutor Carmelindo e da Federação Fluminense de Capoeira segue crescendo, consolidando-se como 
            um dos principais pilares da capoeira no Brasil.
            Reconhecida nacional e internacionalmente, a FFC tem se tornado modelo para outras instituições que buscam 
            utilizar a capoeira como instrumento de transformação social. Com um olhar para o futuro, a FFC segue expandindo suas
            atividades, mantendo viva a tradição da capoeira e contribuindo para a formação cidadã de jovens, através da arte, do
            esporte e da cultura.</h3>
        </div>
      </div>

      <h1 id="missaoevalores">MISSÃO E VALORES</h1>
      
      <div class="bloco-direita">
        <div class="fundotexto fundotexto2">
          <h3>A FFC tem como missão fortalecer a capoeira como expressão cultural, esportiva e educacional, promovendo a inclusão social por 
            meio de projetos comunitários e parcerias com escolas, universidades e outras organizações. Seus valores estão alicerçados no
            respeito à tradição, na disciplina e na formação cidadã. Além disso, a FFC tem um forte cunho educativo, buscando educar e 
            integrar crianças e jovens à sociedade de forma digna, promovendo o caráter e a consciência social.
            A FFC acredita que a capoeira vai além da luta e do esporte; ela é uma ferramenta poderosa para transformação social. 
            Por meio de seus eventos e iniciativas, busca resgatar e preservar a cultura afro-brasileira, valorizando suas raízes e transmitindo
            conhecimentos às novas gerações. A federação preza pelo respeito mútuo, pela cooperação e pelo desenvolvimento humano, incentivando
            seus praticantes a adotarem valores como responsabilidade, solidariedade e ética.
            Outro pilar fundamental da missão da FFC é a construção de um ambiente onde todos tenham voz e oportunidade de crescimento, 
            independentemente de idade, gênero ou classe social. A federação se compromete com a equidade e a promoção de um espaço de aprendizado 
            contínuo, no qual a capoeira seja vista não apenas como uma prática esportiva, mas como um caminho para a cidadania e o empoderamento 
            individual e coletivo.</h3>
        </div>
        <img src="{% static 'Imagens/capoeiradireita.svg' %}" class="imagem">
    </div>
</div>

<!-- FOOTER -->

<div class="footer-superior">
    <div class="texto-footer-superior">
        <p>
          ACOMPANHE NOSSA REDE SOCIAL 
          <i class="fa-solid fa-right-long fa-lg" style="color: #fbfbf8;"></i>
          <a href="https://www.facebook.com/groups/583756710646331/" target="_blank">
            <i class="fa-brands fa-facebook fa-2xl" style="color: #fbfbf8;"></i>
          </a>
        </p>
      </div>
      
    <div class="footer-inferior">
        <div class="footer-coluna1"> 
            <img class="logo-footer" src="{% static 'Imagens/logoheader.png' %}" alt="Logo">
            <h3>UNIDADE ALCÂNTARA</h3>
            <h6>R. Manoel João Gonçalves, 198 - Sl.403 - Raul Veiga, São Gonçalo - RJ, 24711-080<br>CNPJ: 03.310.237/0001-67</h6>
            <br>
            <h3>UNIDADE CAIO MARTINS</h3>
            <h6>R. Pres. Backer, S/N - Icaraí, Niterói - RJ, 24220-045<br>CNPJ: 03.310.237/0001-67</h6>
            <br>
            <h3>CONTATO</h3>
            <h6>(21) 98928-3942</h6>
            <h6>(21) 92711-1366</h6>
            <h6>federacaofluminensecapoeira@gmail.com</h6>
            <h6>professorsapao@hotmail.com</h6>
        </div>
        <div class="footer-coluna2">
            <h3 id="mapadosite">MAPA DO SITE</h3>
            <br>
            <ul class="mapa-site">
                <li><a href="iniciosemdjango.html">Menu</a></li>
                <li><a href="#nossahistoria">Nossa Historia</a></li>
                <li><a href="#missaoevalores">Missão</a></li>    
                <li><a href="postagens.html">Postagens</a></li>
                <li><a href="{% url 'eventos' %}">Eventos</a></li>
                <li><a href="{% url 'voluntario' %}">Voluntarie-se</a></li>
                <li><a href="#" id="abrir-modal">Receber Novidades</a></li>
                <li><a href="{% url 'politica' %}">Política de Privacidade</a></li>
                <li><a href="{% url 'admin:login' %}">Administrativo</a></li>
            </ul>
        </div> 
        <div class="mapas">
        <div class="mapa1">
            <h3 id="txt-mapa1">UNIDADE ALCÂNTARA</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69937.99242385736!2d-43.143255490001415!3d-22.888906218292803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x999092b072f87b%3A0x6a82858a9ad98fd0!2sR.%20Manoel%20Jo%C3%A3o%20Gon%C3%A7alves%2C%20198%20-%20Raul%20Veiga%2C%20S%C3%A3o%20Gon%C3%A7alo%20-%20RJ%2C%2024711-080!5e0!3m2!1spt-BR!2sbr!4v1746295559554!5m2!1spt-BR!2sbr" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
        </div>   
        <div class="mapa2">
            <h3 id="txt-mapa2">UNIDADE CAIO MARTINS</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58813.1418715373!2d-43.11782679589914!3d-22.883056314441795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983f6cdba0933%3A0x9795b5e388d39b1d!2sComplexo%20Esportivo%20Caio%20Martins!5e0!3m2!1spt-BR!2sbr!4v1746295478651!5m2!1spt-BR!2sbr" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
        </div> 
        </div>
        </div>
    </div>
</div>

<!-- MODAL -->

 <div class="modal">
    <div id="overlay"></div>
    <dialog id="modal-1">
        <form>
            <div class="modal-header">
                <i class="fa-solid fa-circle-xmark" id="close" onclick="fecharmodal()"> </i>
                <h1 class="modal-title">Quer receber detalhes <br> sobre as nossas ações?</h1>
                <h3 class="modal-subtitle">Preencha abaixo e receba mais informações</h3><br>
            </div>
        <div class="modal-body">
            <div class="input-group">
                <input type="text" id="nome" name="nome" placeholder="Nome completo" required> 
                <input type="email" id="email" name="email" placeholder="name@exemplo.com" required> 
                <input type="tel" id="telefone" name="telefone" placeholder="(xx) xxxxx-xxxx" required>
                <button id="enviar">ENVIAR</button>
            </div>
        </div>
        </form>
    </dialog>
 </div>
   
<script src={% static "js/script-inicio.js" %}></script>

</body>
</html>
